In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
df1 = pd.DataFrame({"PID":['A101','A105','A108'], 
 "A":[1,0,0],
  "B":[0,1,1],
 "C":[1,1,0]},
  columns =['PID','A','B','C'])
df1

    PID  A  B  C
0  A101  1  0  1
1  A105  0  1  1
2  A108  0  1  0

In [26]:
# 1. rotate

In [27]:
def totate_dlf(df):
    return df.T
df12=totate_dlf(df1)
df12

        0     1     2
PID  A101  A105  A108
A       1     0     0
B       0     1     1
C       1     1     0

In [28]:
df2 = pd.DataFrame({"PID":['A101','A110','A120'], 
 "E":[0,1,1],
  "F":[1,0,1]},
 columns =['PID','E','F'])
df2

    PID  E  F
0  A101  0  1
1  A110  1  0
2  A120  1  1

In [29]:
# 2. merge by key

In [30]:
def merge(df1,df2,key):
    return pd.merge(df1, df2, on=key)
df2=merge(df1,df2,"PID")
df2

    PID  A  B  C  E  F
0  A101  1  0  1  0  1

In [31]:
# 3. given certain df1

In [32]:
df1[['PID','A','C']]

    PID  A  C
0  A101  1  1
1  A105  0  1
2  A108  0  0

In [33]:
# 4. insert new column

In [34]:
idx = 0
new_col = [1, 1, 1]  
df1.insert(loc=idx, column='X', value=new_col)
df1

   X   PID  A  B  C
0  1  A101  1  0  1
1  1  A105  0  1  1
2  1  A108  0  1  0